@page "/"
@namespace DataHawk.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DataHawk</title>
  <base href="~/" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link href="css/menuzord.css" rel="stylesheet" type="text/css" />
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <link href="css/site.css" rel="stylesheet" />
</head>
<body>
  <section class="header_banner_sec">
    <div class="mobile_login_navbar_item">
      <div class="container">
        <div class="login_navbar_m">
          <ul class="list-unstyled">
            <li><a href="#">Login</a></li>
            <li><a href="#">Live Demo</a></li>
            <li><a href="#" class="free_singup_btn">Free Sign Up</a></li>
          </ul>
        </div>
      </div>
    </div>
    <header id="header">
      <div class="container">
        <div class="menubar_sec">
          <div class="row">
            <div class="col-xl-12 col-md-12 col-lg-12 col-sm-12">
              <div class="beauty">
                <div id="menuzord" class="menuzord">
                  <a href="index.php" title="vanderbur logo" class="menuzord-brand">
                    <h2>DataHawk</h2>
                  </a>
                  <ul class="menuzord-menu menuzord-right">
                    <li>
                      <a href="">Products</a>
                      <ul class="dropdown "></ul>

                    </li>
                    <li>
                      <a href="">Features</a>
                      <ul class="dropdown "></ul>
                    </li>
                    <li>
                      <a href="">Customers</a>
                      <ul class="dropdown "></ul>
                    </li>
                    <li>
                      <a href="">Pricing</a>
                      <ul class="dropdown "></ul>
                    </li>
                    <li>
                      <a href="">Resources</a>
                      <ul class="dropdown "></ul>
                    </li>
                    <li>
                      <a href="">Pro Services</a>
                      <ul class="dropdown "></ul>
                    </li>

                  </ul>
                  <div class="login_navbar_item">
                    <ul class="list-unstyled">
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Live Demo</a></li>
                      <li><a href="#" class="free_singup_btn">Free Sign Up</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="Pekohe_grows_orgamic_sec">
      <h2>Pekohe Grows Total Organic Sales <span>by 30% While Reducing Ad Spend and ACoS</span></h2>
    </div>
  </section>

  <section class="datahawker_since_sec">
    <div class="container">
      <div class="datahawker_since_item_list">
        <ul class="list-unstyled">
          <li>
            <div class="icons">
              <img src="images/icon_1.png">
            </div>
            <div class="text">
              <h2>Nov 2020</h2>
              <h3>DATAHAWKER SINCE</h3>
            </div>
          </li>
          <li>
            <div class="icons">
              <img src="images/icon_2.png">
            </div>
            <div class="text">
              <h2>85%</h2>
              <h3>ACoS REDUCED BY</h3>
            </div>
          </li>
          <li>
            <div class="icons">
              <img src="images/icon_3.png">
            </div>
            <div class="text">
              <h2>30%</h2>
              <h3>INCREASE <span>IN ORGANIC SALES </span></h3>
            </div>
          </li>
          <li>
            <div class="icons">
              <img src="images/icon_4.png">
            </div>
            <div class="text">
              <h2>8X</h2>
              <h3>RoAS INCREASED BY</h3>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section class="introduction_client_sec">
    <div class="container">
      <div class="introduction_clien_list">
        <div class="introduction_text">
          <h2>Introduction</h2>
          <p>
            This is a one of a kind case study. It’s one we’re truly proud of. And it transcends KPIs and metrics. By collaborating with DataHawk, Pekohe gave us an opportunity to play a small role in making the world a better place.
          </p>
          <p><b>Fast forward 4 months – Pekohe is winning. DataHawk is winning. The Planet is winning. </b></p>
        </div>
        <div class="introduction_text">
          <h2>The Client</h2>
          <p>
            Pekohe is an AI-driven indoor-farming unit, which allows everyday people like you and me to grow fresh, organic food at home. And that’s not even the most amazing thing about it.
          </p>
          <p>
            What’s incredible is that Pekohe is fully automated, and requires only 2 square feet of space!
          </p>
          <p>
            In their own words, <b>
              ‘The AI-powered vertical indoor-growing system lets you choose from 32 fruits, vegetables, greens, herbs and flowers that will ripen right in your living room’
            </b>.
          </p>
        </div>

        <div class="introduction_img">
          <img src="images/Pekohe_1.png">
        </div>
      </div>
    </div>
  </section>

  <section class="pekohe_need_sec">
    <div class="container">
      <div class="pekohe_need_list">
        <div class="pekohe_need_text">
          <h2>Pekohe’s Need</h2>
          <p>When <b>Pekohe</b> approached DataHawk in October of 2020, it was early days for the company. They had launched on Amazon, and were looking for a partner to help them grow on the marketplace.</p>
          <p>Given their unique product, DataHawk decided to put skin in the game and offered <b>Managed Services</b>, with the objective of complete Amazon Account Management for Pekohe.</p>

          <div class="list_item_list">
            <p><b>In a nut-shell, DataHawk’s goals would be:</b></p>
            <p>.&nbsp;To increase Pekohe’s sales on Amazon</p>
            <p>.&nbsp;To improve their margins on Amazon</p>
          </div>
          <div class="list_item_list">
            <p><b>And in order to achieve the afore-listed, DataHawk would:</b></p>
            <p>.&nbsp;Improve Pekohe’s organic visibility</p>
            <p>.&nbsp;Improve their sponsored visibility</p>
            <p>.&nbsp;Lower their ACoS & TACoS, consequently increasing their RoAS & Blended RoAS</p>
            <p>Ofcourse, all of these are easier said than done. Unless you’re using DataHawk. In which case, it’s easy as pie. Well, that might be a stretch, but you get the idea. </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="The_Process_sec">
    <div class="container">
      <div class="The_Process_list">
        <h2>The Process</h2>
        <div class="The_Process_text">
          <h6>In order to improve Pekohe’s organic visibility, DataHawk took a multi-pronged approach:</h6>
          <p><span>SEO:</span> Given that 90% of product page views result from organic searches, SEO still remains the bread & butter of Amazon selling. To be truly successful on the hyper-competitive marketplace, it’s imperative to excel at SEO. To that end, DataHawk focused on the following for Pekohe: </p>
          <p>
            <span>Content / PDP Optimization:</span> By studying Keyword Ranks for both, Pekohe as well as competing products, and thereafter also analyzing the latter’s PDPs,  DataHawk provided data-driven recommendations on Product Detail Page content around the Title, Description, Bullet Points, A+ Content, and Back-End Search Terms. Essentially, by studying the correlations between Keyword Ranks and PDP content, we were able to determine which keywords, used where on the PDPs, would drive the best results for Pekohe..
          </p>
          <p>
            <span>Organic Ranks Optimization:</span> DataHawk’s systems capture the market dynamics for every single tracked keyword. We know how the trifecta of Price, Ratings & Star Ratings impacts products’ organic ranks for any given (tracked) keyword. That allows us to make data-driven recommendations on actions around (i) Pricing Strategy, (ii) Ads Strategy, and (iii) Content Strategy to optimize organic ranks and generate increased organic traffic and sales
          </p>
          <p><span>Optimizing Back-End Search Terms:</span> Though invisible on the front-end, the importance of back-end search terms cannot be overstated. These are a great way to help display your product for relevant search terms, after you’ve reached Amazon’s character thresholds on the front-end.</p>
          <p>
            <span>Advertising:</span> Though small, Advertising is a really powerful tool. Not only does it boost sales in the short term, it actually boosts products’ organic rankings in the long term. In order to boost Pekohe’s Sponsored visibility, DataHawk engaged in the following:
          </p>
          <p>
            <span>Judicious Bidding:</span> We reviewed top-performing customer search terms based on historical ads. We looked at those which had High Impressions + High CTR + Low CPS, and doubled-down on those in terms of bids.
          </p>
          <p>
            <span>Bid Optimisation:</span> We increased Phrase Match Bids on keywords for which Pekohe wasn’t consistently ranking on Page 1 of search results as a Sponsored Product.
          </p>
          <p>
            <span>Organic Rank Reclamation:</span> We increased Phrase Match Bids on keywords for which Pekohe’s rank had fallen significantly behind the best-ever rank, organically speaking.
          </p>
          <p><span>Competitors Conquesting:</span> DataHawk’s Market Research tool tracks the best selling products across 20,000 Amazon categories. As such, surfacing competition requires only a couple clicks! We uncovered Pekohe’s direct & ancillary competitors in the Plant Germination Kits category on Amazon, and launched campaigns showing Pekohe on competing PDPs, with the goal of driving traffic away from their pages to ours.  </p>
          <p><span>Sponsored Brand Video Targeting:</span> Pekohe already had a beautiful product and a video to flaunt it. And everyone loves videos! We thought, why not take the video to the shoppers, and show them that (thanks to Pekohe) growing food could be effortless, while also making the home look beautiful. As such, we launched Sponsored Brand Video Targeting, letting Pekohe speak for itself.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="the_results_sec">
    <div class="container">
      <div class="the_results_list">
        <div class="the_result_heading">
          <h2>The Results</h2>
          <p>We’ll let the numbers do the talking</p>
        </div>

        <div class="the_results_table">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Parameter</th>
                  <th>November 8</th>
                  <th>November 15</th>
                  <th>November 22</th>
                  <th>November 29</th>
                  <th>December 6</th>
                  <th>December 13</th>
                  <th>December 20</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Organic Sales</td>
                  <td>50%</td>
                  <td>52%</td>
                  <td>59%</td>
                  <td>49%</td>
                  <td>49%</td>
                  <td>76%</td>
                  <td>80%</td>

                </tr>
                <tr>
                  <td>ACoS</td>
                  <td>71.6%</td>
                  <td>37.0%</td>
                  <td>31.8%</td>
                  <td>30.6%</td>
                  <td>58.7%</td>
                  <td>21.9%</td>
                  <td>10.8%</td>
                </tr>
                <tr>
                  <td>RoAS</td>
                  <td>1.4x</td>
                  <td>2.7x</td>
                  <td>3.1x</td>
                  <td>3.3x</td>
                  <td>1.7x</td>
                  <td>4.6x</td>
                  <td>9.3x</td>
                </tr>
                <tr>
                  <td>TACoS</td>
                  <td>35.8%</td>
                  <td>17.6%</td>
                  <td>13.1%</td>
                  <td>15.6%</td>
                  <td>29.7%</td>
                  <td>5.2%</td>
                  <td>2.2%</td>
                </tr>
                <tr>
                  <td>Blended RoAS</td>
                  <td>2.8x</td>
                  <td>5.7x</td>
                  <td>7.6x</td>
                  <td>6.4x</td>
                  <td>3.4x</td>
                  <td>19.3x</td>
                  <td>45.7x</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="now_is_your_time">
    <div class="container">
      <div class="now_is_your_time_item">
        <div class="now_is_your_time_list">
          <div class="now_is_your_time_text">
            <h2>Now is your time for success.</h2>
            <p>Start increasing your sales, optimize your margins, <span>boost your productivity and gain insights</span></p>
          </div>

          <div class="now_is_your_time_value">
            <a href="">Try DataHawk Today - 14 Days Free Trial</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app>
    <component type="typeof(App)" render-mode="ServerPrerendered" />
  </app>

  <div id="blazor-error-ui">
    <environment include="Staging,Production">
      An error has occurred. This application may no longer respond until reloaded.
    </environment>
    <environment include="Development">
      An unhandled exception has occurred. See browser dev tools for details.
    </environment>
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
  </div>
  <script src="_framework/blazor.server.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/menuzord.js"></script>
  <script type="text/javascript" src="js/navigation.js"></script>
</body>
</html>
